# TEE Backend URL
NEXT_PUBLIC_TEE_URL=https://p.outlayer.fastnear.com/execute

# NEAR Smart Contract ID
NEXT_PUBLIC_CONTRACT_ID=nostr-identity.testnet

# Environment (testnet|mainnet)
NEXT_PUBLIC_NEAR_NETWORK=testnet
